# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=release_notifier
DB_USER=app
DB_PASSWORD=secret

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_TTL=600

# GitHub
GITHUB_TOKEN=
GITHUB_SCAN_INTERVAL=300
GITHUB_SCAN_BATCH_SIZE=100

# SMTP
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=noreply@release-notifier.local
SMTP_ENCRYPTION=

# API Key Authentication
API_KEY=

# App
APP_PORT=8080
APP_ENV=production
GRPC_PORT=9001
RUN_MIGRATIONS_ON_BOOT=false
